RewriteEngine On
RewriteRule ^Clientes$ Controller/C_clientes.php
RewriteRule ^Detalles_factura$ Controller/C_viewFactura.php
RewriteRule ^Estadisticas$ Controller/C_statistics.php
RewriteRule ^Inicio$ Controller/C_index.php
RewriteRule ^Facturas$ Controller/C_registerShop.php
RewriteRule ^login$ Controller/C_login.php
RewriteRule ^InventarioPDF$ Controller/C_InventarioPDF.php
RewriteRule ^fd$ Controller/C_facturadirecta.php
RewriteRule ^Administrar_perfil$ Controller/C_perfil.php
RewriteRule ^Proveedores$ Controller/C_proveedores.php
RewriteRule ^Productos$ Controller/C_product.php
RewriteRule ^Salir$ Controller/funcs/logout.php


RewriteRule ^pruebita$ Controller/funcs/prueba.php



RemoveHandler .phtml .php3 .php .pl .py .jsp .asp .htm .shtml .sh .cgi .dat
RemoveType .phtml .php3 .php .pl .py .jsp .asp .htm .shtml .sh .cgi .dat