.Item {
    width: 100%;
    transition: 800ms all ease;
}

.Login{
    display:flex;
}
.SetPassword {
    display:flex;
}

.display-none {
    display:none;
}

.Register {
    width: 340px;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.274);
    border-radius: 15px;
}

.sectionP {
    padding: 50px 100px;
    background-image: url(../images/fondo2.jpg) !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 86.7vh;
    overflow: hidden;
}

.input-text {
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 10px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

@media (min-width: 350px) and (max-width: 424px) {
    .Register {
        width: 300px;
    }
    .Item {
        width: 320px;
    }
}

@media (min-width: 424px) and (max-width: 670px) {
    .Register {
        width: 300px;
        padding: 60px 30px;
    }

    .sectionP {
        padding: 50px 50px;
        height: 90vh;
    }
}