<div class="uk-flex uk-flex-center ">
    <ul class="uk-pagination uk-margin-medium-bottom">
        <li><a onclick="cambiar_pagina_php('start')"><span class="uk-margin-small-right" uk-pagination-previous></span><span class="uk-margin-small-right" uk-pagination-previous></span></a></li>
        <li><a onclick="cambiar_pagina_php('back')">Previous</a></li>
        <li><a onclick="cambiar_pagina_php('next')">Next</a></li>
        <li><a onclick="cambiar_pagina_php('end')" ><span class="uk-margin-small-left" uk-pagination-next></span><span class="uk-margin-small-left" uk-pagination-next></span></a></li>
    </ul>
</div>