RewriteEngine On

ErrorDocument 404 /Proyecto-UPTAEB-T2/src/View/404.php


# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/Model/ 
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/View/
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/View/
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/Backups/
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/Backups/
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/Plugins/
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/plugins/
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/Media/
# RedirectMatch 403 ^/Proyecto-UPTAEB-T2/src/static/

RewriteRule ^(Inicio)?$ index.php?page=index

RewriteRule ^Administrar_perfil$ index.php?page=perfil [NC]
RewriteRule ^Clientes$ index.php?page=clientes
RewriteRule ^Detalles_factura$ index.php?page=viewFactura
RewriteRule ^Estadisticas$ index.php?page=statistics
RewriteRule ^Ventas$ index.php?page=Ventas
RewriteRule ^Login$ index.php?page=login [NC]
RewriteRule ^Productos$ index.php?page=product
RewriteRule ^Proveedores$ index.php?page=proveedores
RewriteRule ^Salir$ index.php?page=logout&type=funcion


RewriteRule ^Estadisticas_PDF$ index.php?page=estadisticas&type=pdfs
RewriteRule ^PDFCierreCaja/([0-9]+)$ index.php?page=cierre_caja&type=pdfs&id_caja=$1 [L]
RewriteRule ^PDFInventario$ index.php?page=inventario&type=pdfs
# RewriteRule ^PDFFactura$ index.php?page=factura&type=pdfs
RewriteRule ^PDFFactura/([0-9]+)$ index.php?page=factura&type=pdfs&id=$1 [L]

RewriteRule ^api_search$ index.php?page=search&type=funcion_ajax
RewriteRule ^api_agregar$ index.php?page=agregar_cosas&type=funcion
RewriteRule ^api_editar$ index.php?page=modificar_cosas&type=funcion
RewriteRule ^api_eliminar$ index.php?page=borrar_cosas&type=funcion

RewriteRule ^api_hacer_factura$ index.php?page=hacer_factura&type=funcion_ajax

RewriteRule ^api_estadisticas$ index.php?page=estadisticas&type=funcion_ajax
RewriteRule ^api_caja$ index.php?page=acciones_caja&type=funcion_ajax
RewriteRule ^api_login$ index.php?page=login&type=funcion_ajax
RewriteRule ^login_normal$ index.php?page=login&type=funcion
RewriteRule ^api_get_image$ index.php?page=get_image&type=funcion_ajax

RewriteRule ^Captcha$ Controller/funcs/Captcha.php

RewriteRule ^test$ index.php?page=prueba&type=funcion_ajax

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Proyecto-UPTAEB-T2/src/View/404.php

# RewriteRule ^(([a-zA-Z\d])+/)||static/$ /Proyecto-UPTAEB-T2/src/View/404.php [NC,L]
RewriteRule ^Model/ View/404.php [NC,L]
# RewriteRule ^Controller/ View/404.php [NC,L]
RewriteRule ^View/ View/404.php [NC,L]
RewriteRule ^Backups/ View/404.php [NC,L]
RewriteRule ^Model/ View/404.php [NC,L]


<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh|zip|tar)$">
  Order Deny,Allow
  Deny from all
</FilesMatch>

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Authorization"
</IfModule>


# RemoveHandler .phtml .php3 .php .pl .py .jsp .asp .htm .shtml .sh .cgi .dat
# RemoveType .phtml .php3 .php .pl .py .jsp .asp .htm .shtml .sh .cgi .dat