<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/LogReg.css">
    <link rel="stylesheet" href="static/css/uikit.css">
    <link rel="stylesheet" href="static/css/aos.css">
    <link rel="shortcut icon" href="static/images/logo_m.png" type="image/x-icon">
    <title>Iniciar Sesion</title>
</head>
<body>
    <section class="uk-light  sectionP">


        <section class="uk-flex uk-flex-center uk-flex-middle" style="height: 100%;">
            <article class="Item uk-flex-center uk-flex-middle Login" data-aos="zoom-in-up">
                <div class="Register">
                    <div class="uk-text-center">
                        <img src="static/images/logo_m.png" alt="" width="150px">
                        <h3>Iniciar Sesión</h3>
                    </div>
                    <form class="uk-flex uk-flex-column uk-flex-middle" action="Controller/funcs/login.php" method="POST">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" placeholder="Correo Electronico" type="email"  aria-label="Not clickable icon" name="correo" required>
                            </div>
                        </div>
    
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input class="uk-input" placeholder="Contraseña" type="password" aria-label="Not clickable icon" name="contraseña" required>
                            </div>
                        </div>
                        <a class="uk-margin-small-bottom recuperarPass" >¿Olvido su contraseña?</a>
                        <button class="uk-button uk-button-default uk-margin-small-top" type="submit">Ingresar</button>
                    </form>
                </div>
            </article>
    
            <article class="Item uk-flex-center uk-flex-middle SetPassword display-none">
                <div class="Register">
                    <div class="uk-text-center">
                        <img src="static/images/logo_m.png" alt="" width="130px">
                        <h3>Recuperar Contraseña</h3>
                    </div>
                    <form class="uk-flex uk-flex-column uk-flex-middle" action="Controller/funcs/login.php" autocomplete="off" method="POST">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                <input class="uk-input" placeholder="Correo Electronico" type="email" id="email" aria-label="Not clickable icon" name="correo" required>
                            </div>
                        </div>
    
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <textarea class="uk-textarea" placeholder="Asunto" name="" id="" cols="30" rows="5" required></textarea>
                            </div>
                        </div>
                        <div>
                            <button class="uk-button uk-button-default uk-margin-small-top" id="forget-pass" type="submit">ENVIAR</button>
                            <button class="uk-button uk-button-default uk-margin-small-top" id="cancel" type="submit">CANCELAR</button>
                        </div>
                    </form>
                </div>
            </article>
        </section>

    </section>

    <script src="static/javascript/librerias/uikit.js"></script>
    <script src="static/javascript/librerias/uikit-icons.js"></script>
    <script src="static/javascript/librerias/aos.js"></script>
    <script src="static/javascript/librerias/jquery.js"></script>
    <script src="static/javascript/Ajax/recuperaPass.js"></script>
    
    <script>
        AOS.init({
          easing: 'ease-in-out-sine',
          delay: 300
        });
    </script>

</body>
</html>